* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(0deg 0% 12%);
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

body {
    margin: 0px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header  header"
        "nav     main"
        "footer  footer";
    height: 100vh;
}

.header,
.footer {
    padding-left: 40px;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    background-color: hsl(0deg 0% 14%);
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    background-color: hsl(0deg 0% 12%);
    padding: 20px 0px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px;
    padding-left: 60px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.footer {
    grid-area: footer;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
}

.header,
.footer,
a {
    background-color: hsl(0deg 0% 14%);
}

a {
    cursor: pointer;
}

.todoList-wrapper {
    min-width: 800px;
}

.todoList-wrapper li {
    background-color: hsl(0deg 0% 12%);
}

.inbox-header {
    font-size: 22px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.button {
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
}

.button:hover {
    background-color: hsl(0deg 0% 16%);
    color: rgb(230, 0, 0);
}

.todoItem {
    padding: 10px 0px 10px 5px;
    background-color: hsl(0deg 0% 12%);
    border-radius: 2px;
    border-bottom: 1px solid rgba(219, 219, 219, 0.432)
}

.todoItem:hover {
    background-color: hsl(0deg 0% 16%);
}


.todoText {
    padding-left: 8px;
    background-color: inherit;
}

.strikethrough {
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
}

.details-popup {
    width: 500px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    padding: 20px;
    background-color: hsl(0deg 0% 14%);
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  
}

.open-popup {
    visibility: visible;
}

.detailsGrid {
    display: grid;
    grid-template-areas:
        "title project close"
        "description date ."
        "description priority ."
        "save . .";
    grid-template-columns: 1fr 1fr auto;
    background-color: hsl(0deg 0% 14%);
}

.detailsGrid li {
    background-color: hsl(0deg 0% 14%);
    padding: 5px;

}

.gridTaskName {
    grid-area: title;
}

.gridClose {
    grid-area: close;
}

.gridDescription {
    grid-area: description;
}

.gridDate {
    grid-area: date;
}

.gridPriority {
    grid-area: priority;
}

.gridProjectName {
    grid-area: project;
}

.gridSave {
    grid-area: save;
}

input, textarea {
    /* border: 1px solid #E5E7EB; */
    background-color: hsl(0deg 0% 14%);
    border: 1px solid hsl(0deg 0% 12%);
    border-radius: 3px;
    padding: 7px;
    font-size: 14px;
    resize: none;
}

input:focus, textarea:focus {
    /* border: 1px solid #00678e; */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

.save {
    padding: 5px 10px;
    background-color: rgba(175, 1, 1, 0.959);
}

.save:hover {
    background-color: rgb(139, 0, 0);
    color: white;
}

select {
    padding: 5px;
    border: none;
    outline: none;
    background-color: hsl(0deg 0% 14%);
}

.projectList {
    background-color: hsl(0deg 0% 12%);
    padding: 30px;
    border: 3px solid hsl(0deg 0% 14%);
    border-top: 0px;
    border-bottom: 0px;
    display: flex;
    flex-direction: column;
}

.projectList li {
    background-color: hsl(0deg 0% 12%);
    padding: 2px;
}

.projectList li a {
    background-color: hsl(0deg 0% 12%);
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
}

.projectList li a:hover {
    background-color: hsl(0deg 0% 16%);
}

.projectList li input {
    margin-left: -5px;
}

.completed {
    margin-top: auto;
}