* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: hsl(0deg 0% 12%);
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

body {
    margin: 0px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header  header"
        "nav     main"
        "footer  footer";
    height: 100vh;
}

.nav,
.header,
.footer {
    padding-left: 40px;
}

.nav {
    grid-area: nav;
    padding-top: 30px;
}

.main {
    grid-area: main;
    background-color: hsl(0deg 0% 12%);
    padding: 20px 0px 20px 40px;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    padding-left: 40px;
}

.footer {
    grid-area: footer;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
}

.nav,
.header,
.footer,
li,
a {
    background-color: hsl(0deg 0% 14%)
}

.todo-form li {
    background-color: hsl(0deg 0% 12%);
}

nav ul {
    display: flex;
    flex-direction: column;
}

.inbox-header {
    font-size: 22px;
    padding-bottom: 5px;
    padding-left: 2px;
}

.addButton {
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
}

.addButton:hover {
    background-color: hsl(0deg 0% 16%);
    color: rgb(230, 0, 0);
}

.todoItem {
    padding: 10px 0px 10px 5px;
    background-color: hsl(0deg 0% 12%);
    border-radius: 2px;
    border-bottom: 1px solid rgba(219, 219, 219, 0.432)
}

.todoItem:hover {
    background-color: hsl(0deg 0% 16%);
}


.todoText {
    padding-left: 8px;
    background-color: inherit;
}